  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Descarga e instala nuestro módulo libre para Odoo</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Go to Gitlab</a>
          </div>
      </div>
  </aside>
