<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>OpenEngrVE</h1>
            <hr>
            <p>hosting information about the OpenEngrVE open project, which is an effort to automate processes commonly used in engineering and adapt them to the current norm. Aquí se almacena la información respecto del proyecto OpenEngrVE, el cual es un esfuerzo de automatizar procesos que son de uso común en la ingeniería y adaptarlos a las normas vigentes.</p>
            <div><h1>UNDER CONSTRUCTION WIP</h1></div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Más sobre Nosotros</a>
        </div>
    </div>
</header>
